In [1]:
name = 'Hello'
print(name)

Hello

In [2]:
#comment : use for described the code, it is not executable
a = 'World' # This is 'World' String
print(a)

World

In [ ]:
#Data Types and Variables
- Text Type: str
- Numeric Types: int, float
- Sequence Types: list, tuple, range
- MApping Type: dict
- Set Type: set
- Boolean Type: bool

In [2]:
Name = 'Krish' #store the value in variable
age=21
percentage=78.89 #assign value
print(Name) #accessing variable
print(age)
print(percentage)

Krish
21
78.89

In [3]:
type(Name) #to know type of variable use type()

str

In [4]:
type(percentage)

float

In [5]:
student=['Heny', 21, 99.5] #this is list, you can add and delete elements inside the list
student

['Heny', 21, 99.5]

In [6]:
student.append('Computer')
student

['Heny', 21, 99.5, 'Computer']

In [7]:
student[0]

'Heny'

In [8]:
student[0]='Mony'
student

['Mony', 21, 99.5, 'Computer']

In [9]:
student[3]='Electrical'
student

['Mony', 21, 99.5, 'Electrical']

In [10]:
student1 = ('Mony', 21, 99.5, 'Electrical') #this is tupple, you cannot modify the elements
type(student1)

tuple

In [11]:
student1[1]=23

TypeError: 'tuple' object does not support item assignment

In [12]:
#range() is a seqence of elements
range(5) # they are numbers from satrting point to end point

range(0, 5)

In [13]:
#dictonary uses {} with key : value pair
student3 = {'Name': 'Neha', 'RollNo': 1, 'Age':21, 'Percentage':89}
student3

{'Name': 'Neha', 'RollNo': 1, 'Age': 21, 'Percentage': 89}

In [14]:
student3.keys()

dict_keys(['Name', 'RollNo', 'Age', 'Percentage'])

In [15]:
student3.values()

dict_values(['Neha', 1, 21, 89])

In [17]:
student4={'Neha', 1, 21, 89} #set
student4

{1, 21, 89, 'Neha'}

order is not maintain in set(unorder sequence of elements)

In [18]:
type(student4)

set

In [19]:
bool(0)

False

bool(1)

Python Operators
- Arithmatic Operators
- Assignment Operators
- Comparision Operators
- Logical OPerator
- Membership Operator

In [24]:
#Arithmetic Operator (+, -, *, /, %, **)
x=5
y=7
print(x+y, x-y, x*y, x/y, x%y, x**y)

12 -2 35 0.7142857142857143 5 78125

In [25]:
#Assignment Operators (=, +=, -=, /=, %=, **=) used to assign values to variables
p=4
q=6
#print(p=q, p+=q, p-=q, p/=q, p%=q, p**=q)
p += q #p=p+q
print(p)

10

In [26]:
#Comparision Operators (==, !=, <, >, <=, >=)  used to compare two values
x=4
y=2
x==y

False

In [27]:
x !=y

True

In [28]:
x>y

True

In [30]:
x>=y

True

In [31]:
#Logical OPerator (and, or, not)
(x>y) and (x!=y)

True

In [32]:
not((x>y) and (x!=y))

False

In [33]:
#Membership Operator (if element is present in list or tupple)
# in 
#not in
x=[1,2,3,4,5]
y=6
y in x

False

In [34]:
y not in x

True